    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/ptsans-400.woff2) format('woff2');
        font-display: swap;
    }
    
    @font-face {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        src: url(../fonts/ptsans-700.woff2) format('woff2');
        font-display: swap;
    }
    
    html {
        height: 100%;
    }
    
    .page-body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        color: #000000;
        background-color: #FFFFFF;
        padding-left: 40px;
        padding-right: 40px;
        width: 1200px;
    }
    
    .main-container {
        flex-grow: 1;
    }
    
    .visually-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
        margin: -1px;
    }
    
    .button {
        display: inline-block;
        font-family: PT Sans;
        font-style: normal;
        color: #FFFFFF;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .page-container {
        width: 1200px;
        margin: 0 auto;
    }
    /* Header */
    
    .page-header {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }
    /* Navigation */
    
    .navigation {
        display: grid;
        grid-template-columns: 1fr 138px 1fr;
        width: 1200px;
        margin: 0 auto;
        padding-right: 72px;
        padding-left: 72px;
        box-sizing: border-box;
    }
    
    .navigation-list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        color: inherit;
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .navigation-link {
        text-decoration: none;
        color: #000;
        padding: 6px 12px;
        border: 3px solid rgba(248, 248, 248, 0)
    }
    .navigation-link:first-child{
        margin-left: -12px;
    }
    .navigation-link:hover{
        color:#756257;
    }
    .navigation-link:focus{
         outline: none;     
        border: 3px solid #83B3D3;
        box-sizing: border-box;
        border-radius: 10px;
        color:#756257;
    }
    .navigation-link:active{
        color:#756257;
        opacity: 0.3;
        border: 3px solid rgba(248, 248, 248, 0);
    }
    .navigation-user {
        display: flex;
        flex-wrap: wrap;
        max-width: 520px;
        margin-left: auto;
        align-items: center;
    }
    
    .navigation-item {
        display: block;
        margin-top: 20px;
        margin-bottom: 14px;
        text-align: center;
        margin-right: 21px;
    }
    
    .navigation-user-item {
        display: block;
        margin-left: 10px;
        padding: 10px;        
        padding-bottom: 5px;
    }
    .navigation-user-item:hover .navigation-icon path{
        fill:#756257;
    }
    .navigation-user-item:focus{
        outline: none;
        outline: 3px solid #83B3D3;
        outline-offset:-3px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .navigation-user-item:active .navigation-icon path{
        fill:#756257;
        opacity: 0.3;
    }
    .navigation-user-item:active{
        outline: none;
    }
    
    .page-logo {
        display: block;
        width: 138px;
        height: 70px;
    }
    
    .navigation-button {
        background-color: #756257;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
        text-decoration: none;
        margin-left: 20px;
    }
    .button-brown:hover{
        background-color: #615048;
    }
    .button-brown:focus{
        outline: 3px solid #83B3D3;
        outline-offset:-3px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .button-brown:active{
        background-color: #615048;
        color: rgba(255,255,255, 0.3);
        outline: none;
    }
    .navigation-button:focus, .navigation-button:active{
        border-radius: 4px;
    }
    /* Main-img */
    
    .index-background {
        width: 1200px;
        height: 483px;
        background-image: url("/img/welcome.svg"), url("/img/white-frame.svg"), url("/img/index-background.jpg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center, center bottom, center;
        background-color: #3D566D;
    }
    /* Main-slogan */
    
    .slogan {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-top: 63px;
        margin-left: 240px;
        margin-right: 240px;
    }
    /* Reason */
    
    .reasons-title {
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        margin: 0;
        margin-top: 23px;
        margin-bottom: 79px;
        margin-left: 240px;
        margin-right: 240px;
    }
    
    .reason {
        display: flex;
        color: #FFFFFF;
        text-align: center;
    }
    
    .reason-text {
        width: 400px;
        background-color: #83B3D3;
    }
    
    .reason-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 98px;
        margin-bottom: 25px;
    }
    
    .reason-number {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        margin-top: 25px;
    }
    
    .reason-description {
        margin: 0;
        margin-top: 26px;
        margin-bottom: 77px;
        line-height: 21px;
    }
    
    .reason-image img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    /* Recommendation */
    
    .recommendations-list {
        display: flex;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .recommendations-item {
        width: 400px;
    }
    
    .recommendations-item:nth-child(1) {
        background-image: url("/img/housing.svg");
        background-repeat: no-repeat;
    }
    
    .recommendations-item:nth-child(2) {
        background-image: url("/img/burger.svg");
        background-repeat: no-repeat;
    }
    
    .recommendations-item:nth-child(3) {
        background-image: url("/img/souvenir.svg");
        background-repeat: no-repeat;
    }
    
    .recommendations-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 184px;
        margin-bottom: 20px;
    }
    
    .recommendations-description {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 79px;
    }
    /* Reasons */
    
    .reasons-list {
        display: flex;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .reasons-item {
        width: 400px;
    }
    
    .background-light {
        background: rgba(131, 179, 211, 0.2);
    }
    
    .background-ultralight {
        background: rgba(131, 179, 211, 0.12);
    }
    /* Search */
    
    .search {
        text-align: center;
    }
    
    .search-title {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 91px;
    }
    
    .search-explain {
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    
    .button-search {
        background-color: #756257;
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        padding-top: 13px;
        padding-bottom: 17px;
        padding-left: 150px;
        padding-right: 150px;
        border-radius: 10px;
        margin-bottom: 91px;
    }
    /* Footer */
    
    .contacts {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .mailing {
        width: 1200px;
        height: 411px;
        background-image: url("/img/background-footer.jpg");
        background-repeat: no-repeat;
        background-size: 1200px 411px;
        background-color: #756257;
        text-align: center;
        color: #FFFFFF;
        padding-top: 1px;
    }
    
    .mailing-catalog {
        background-color: #FFFFFF;
        background-image: none;
    }
    
    .mailing-title {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        margin-top: 91px;
        margin-bottom: 30px;
    }
    
    .mailing-title-catalog {
        color: #000;
    }
    
    .mailing-description {
        margin: 0;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        margin-top: 15px;
        margin-bottom: 60px;
    }
    
    .mailing-description-catalog {
        color: #000;
    }
    
    .mailing-form {
        display: flex;
        justify-content: center;
    }
       
    .mailing-input{    
      padding: 0;
      padding-left: 22px;
      border: none;
      box-sizing: border-box;
      width: 600px;
      border-radius: 10px 0 0 10px;
      background-color: #f2f2f2;
    }
    .mailing-input:hover{
        background-color: #E6E6E6;
    }
    .mailing-input:focus{
        outline: 3px solid #83B3D3;;
    }
    .mailing-input:active{
        outline: 2px solid #000000;
        outline-offset: -2px;
    }
    .button-mailing {
        background-color: #83B3D3;
        padding: 17px 34px;
        border-radius: 0 10px 10px 0;
    }
    .button-blue:hover{
        background-color: #68A2CA;
    }
    .button-blue:focus{
        outline:3px solid #756257;
        outline-offset: -3px;
    }
    .button-blue:active {
        color:rgba(255,255,255,0.3);
        outline: none;
    }
    .contacts {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 72px;
        padding-right: 72px;
    }
    
    .contacts-list {
        display: flex;
        width: 200px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .contacts-item {
        width: 40px;
        height: 40px;
    }
    
    .contacts-link {
        display: block;
        padding: 10px;
        padding-bottom: 6px;
    }
    .contacts-link:hover path{
        fill:#68A2CA;
    }
     .contacts-link:focus{
        outline: 3px solid #83B3D3;
        outline-offset: -3px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .contacts-link:active{
        outline:none;
        opacity: 0.3;
    }
    .contacts-phone {
        font-weight: normal;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        font-style: normal;
        padding: 15px;
    }
    .contacts-phone:hover{
        color: #756257;
    }
    .contacts-phone:focus{
        outline: 3px solid #83B3D3;
        outline-offset: -3px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .contacts-phone:active{
        outline:none;
        color: #756257;
        opacity: 0.3;
    }
    .contacts-copyright {
      
    }
    
    .contacts-copyright-svg {
        display: block;
        margin-left: auto;
        padding: 18px 22px;
    }
    .contacts-copyright-svg:hover path{
       fill:#756257; 
    }
    .contacts-copyright:focus{
        outline: 3px solid #83B3D3;
        outline-offset: -3px;
        box-sizing: border-box;
        border-radius: 10px; 
    }
    .contacts-copyright:active{
        outline:none;
        color: #756257;
        opacity: 0.3;
    }
    /* Catalog */
    /* Main-catalog */
    
    .container-backgraund {
        background-image: url(/img/catalog/catalog-background.jpg);
        background-repeat: no-repeat;
        width: 1200px;
        height: 408px;
    }
    
    .inner-header-title {
        font-weight: bold;
        font-size: 60px;
        line-height: 78px;
        color: #FFFFFF;
        margin: 0;
        padding-top: 35px;
        margin-left: 72px;
        margin-bottom: 5px;
    }
    /* Breadcrumbs */
    
    .breadcrumbs {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 72px;
        margin-top: 5px;
        margin-bottom: 45px;
    }
    
    .breadcrumbs-item {
        display: block;
        margin-right: 26px;
    }
    
    .breadcrumbs-link {
        position: relative;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .breadcrumbs-link-arrow::before{
        content: "";
        position: absolute;
        background-image: url('/img/catalog/arrow.svg');
        background-repeat: no-repeat no-repeat;
        width: 5px;
        height: 8px;
        top: 7px;
        left: -13px;
    }
    
    /* Form */
    
    .catalog-filter {
        display: grid;
        grid-template-columns: 181px 181px auto min-content;
        grid-gap: 35px;
        color: #FFFFFF;
        margin-left: 72px;
        margin-right: 72px;
    }
    
    .catalog-filter-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
    }
    
    .parametr-label {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
    }
    
    .catalog-filter-list {
        list-style: none;
    }
    
    .button-apply {
        background: #83B3D3;
        padding: 15px 42px;
        margin: 0;
        border-radius: 4px;
    }
    .button-apply:focus{
        outline:3px solid #FFFFFF;
        outline-offset: -3px;
    }
    .button-apply:active{
        outline: none;
    }
    .catalog-filter-group {
        width: 200px;
        margin: 0;
        padding: 0;
        border: none;
    }
    
    .catalog-filter-wrapper {
        display: flex;
    }
    .catalog-filter-label{
        display: flex;
        align-items: center;
        border:2px solid #fff;
        border-radius: 4px 0 0 4px;
        padding-right: 14px;
        color: rgba(255,255,255,0.3);
    }
    .catalog-filter-label:nth-child(2){
        border-radius: 0 4px 4px 0;
        margin-left: -2px;
    }
    .catalog-filter-input {
        width: 100px;
        padding: 12px 18px;
        font: inherit;
        text-align: left;
        background-color: transparent;
        border: none;
        appearance: textfield;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color:#fff;
        cursor: pointer;
    }
    .catalog-filter-input:focus
    .catalog-filter-input:active{
        border: none;
        outline: none;
    }  
    .catalog-filter-input::-webkit-outer-spin-button,
    .catalog-filter-input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
    .catalog-filter-label:hover {
        border: 2px solid rgba(255,255,255,0.6);
    }

    .catalog-filter-input:focus{
        outline: none;       
    }
    .catalog-filter-label:focus{
        outline: 3px solid#81B3D2;
    }
    .catalog-filter-label:active{
        background-color: #756257;
    }
    .button-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }
    .button-reset{ 
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;      
        text-transform: unset;
        background: inherit;
        padding: 5px 20px;
        align-self: center;
        margin-top: 10px;
    }
    .button-reset:hover{
        opacity: 0.6;
    }
    .button-reset:focus{
        outline: 3px solid #83B3D3;
        outline-offset: -3px;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .button-reset:active{
        outline:none;
        opacity: 0.3;       
        
    }
    .catalog-filter-price {
        margin: 0;
        padding: 0;
        border: none;
        width: 290px;
        margin-left: auto;
    }
    .range-scale{
        position:relative;
        height: 4px;
        background-color: rgba(255,255,255,0.3);
        margin-top: 32px;
    }
    .range-bar{
        position:absolute;
        height: 4px;
        background-color: #fff;
    }
    .range-toggle{
        position: absolute;
        width: 20px;
        height: 20px;
        background: #FFFFFF;  
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    .range-toggle:hover{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    .range-toggle:focus{
        outline: 3px solid #83B3D3;
    }
    .range-toggle:active{
        outline: 2px solid #83B3D3;
    }
    .toggle-min {
        top: -8px;
        left: -10px;
    }
      
      .toggle-max {
        top: -8px;
        right: -10px;
    }
    /* Sorting */
    
    .sorting {
        display: flex;
        margin-left: 72px;
        margin-right: 72px;
        padding-top: 44px;
        padding-bottom: 42px;
        border-bottom: 1px solid #E6E6E6;
    }
    
    .sorting-result {
        margin: 0;
        font-weight: bold;
        font-size: 30px;
    }
    
    .filter-output {
        display: flex;
        width: 360px;
        font-weight: bold;
        font-size: 30px;
        line-height: 39px;
        text-transform: uppercase;
    }
    
    .sorting-type option {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #333333;
    }
    
    .sorting-type {
        position: relative;
        margin-left: 89px;
    }
    
    .button-sort {
        border: none;
        padding: 0;
        background-color: inherit;
        padding: 17px;
        outline: 2px solid #E6E6E6;
        outline-offset: -2px;
        border-radius: 4px;
        margin-right: 8px;
        padding-bottom: 15px;
    }
    .button-sort:hover,
    .button-sort:focus{
        outline: 2px solid #83B3D3;
    }
    .button-sort:active{
        outline: 2px solid #000000;
    }
    .button-sort:nth-child(3n) {
        margin-right: 0;
    }
    
    .select-control {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 19px;
        padding-right: 127px;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        border: 2px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 4px;
        appearance: none;
    }
    .select-control:hover,
    .select-control:focus{
        outline: 2px solid #83B3D3;
        outline-offset: -2px;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .select-control:active{
        outline: 2px solid #E6E6E6;
    }
    .button-select{
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
    }
    .button-select::before{
        content: "";
        position: absolute;
        background-image: url('/img/catalog/arrow-down.svg');
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        left: 287px;
        top: 24px;
        opacity: 0.3;
    }
    .button-select::before:active{
        fill:#e6e6e6;
        opacity: 0.3;
    }
    .container-type-card {
        display: flex;
        justify-content: end;
        margin-left: 81px;
    }
    /* Hotel-Card */
    
    .hotel-card-list {
        display: grid;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 72px;
        margin-right: 72px;
        
    }
    
    .hotel-card-item {
        display: grid;
        grid-template-columns: 180px 1fr 160px;
        grid-gap: 36px;
        padding-top: 28px;
        padding-bottom: 30px;
        border-bottom: 1px solid #E6E6E6;
    }
    
    .hotel-card-link {
        margin: 0;
        padding: 0;
        text-decoration: none;
        grid-column: 1/-1;
        padding: 10px 15px;
        margin-top: -10px;
        margin-bottom: -10px;
        margin-left: -15px;
        margin-right: auto;
    }
    .hotel-card-condition{
        outline: none;
        padding: 0;
        margin: 0;
    }
    .hotel-card-image {
        display: block;
    }
    .hotel-card-condition:hover{
        opacity: 0.6;
    }
    .hotel-card-condition:focus{      
        outline: 3px solid #83B3D3;
        outline-offset: -1px;
    }
    .hotel-card-title {
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
        color: #000;
          }
    .hotel-card-title:hover{
        color: #756257;
    }
    .hotel-card-link:focus{
        outline: 3px solid #83B3D3;
        outline-offset: -3px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .hotel-card-link:focus .hotel-card-title{
        color: #756257;
    }
    .hotel-card-link:active{
        outline: none;
    }
    .hotel-card-link:active .hotel-card-title{
        opacity: 0.3;
    }
    .hotel-card-information {
        display: grid;
        grid-template-columns: 151px 160px;
        grid-template-rows: repeat(3, min-content);
        column-gap: 8px;
    }
    
    .hotel-card-estimation {
        margin-left: auto;
    }
    
    .hotel-card-type,
    .hotel-card-price {
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 28px;
    }
    
    .button-card {
        background-color: #756257;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 9px;
        border-radius: 4px;
        
    }
    .button-card:focus{
        border-radius: 4px;
        outline-offset: unset;
    }
    
    .button-favourites {
        background-color: #83B3D3;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        border-radius: 4px;
    }
    .button-favourites:focus{
        outline-offset: unset;
    }
    .button-green{
        background: #7DB54F;
        border-radius: 4px;
    }
    .button-green:hover{
        background: #6C9E42;
    }
    .button-green:focus{
        outline:3px solid #756257;;
    }
    .button-green:active{
        outline: none;
        color: rgba(255,255,255, 0.3);
    }
    .hotel-card-rating {
        font-size: 16px;
    }
    
    .stars {
        background-image: url("/img/catalog/star.svg");
        background-repeat: repeat-x;
        height: 17px;
    }
    
    .stars-four {
        width: 100px;
    }
    
    .stars-three {
        width: 75px;
    }
    
    .stars-two {
        width: 50px;
    }
    
    .button-more {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
        background-color: #83B3D3;
        border: none;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 287px;
        margin-right: 287px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 240px;
        padding-right: 240px;
        border-radius: 4px;
    }
    /* Pagination */
    
    .pagination {
        display: flex;
        margin-left: 72px;
        margin-right: 72px;
        padding-top: 30px;
    }
    
    .pagination-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .pagination-link {
        text-decoration: none;
        width: 35px;
        border-radius: 4px;
    }
    
    .pagination-item a {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        background-color: #83B3D3;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 6px;
    }
    .pagination-link:hover{
        background-color: #68A2CA;
    }
    .pagination-link:focus{
        outline: 3px solid #756257;
        outline-offset: -1px;
    }
    .pagination-item .pagination-current {
        background-color: #f2f2f2;
        color: #000;
    }
    .sorting-number {
        position: relative;
        margin-left: 323px;
        width: 382px;
        font-size: 16px;
        padding-top: 15px;
    }
    
    .select-number {       
        margin-left: 50px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 123px;
    }
    .button-select-number{
        margin: 0;
        padding:0;
        border: none;
        outline: none;
    }
    .button-select-number::before{
        content: "";
        position: absolute;
        background-image: url('/img/catalog/arrow-down.svg');
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        left: 332px;
        top: 34px;
        opacity: 0.3;
    }